body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #e6e6e6;
}

.infographic-container {
    width: 1000px;
    height: 850px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: 1fr 300px 300px 1fr;
    grid-template-rows: 150px 250px 250px 150px;
    align-items: center;
    justify-items: center;
}

.center-circle {
    grid-column: 2 / 4;
    grid-row: 2 / 4;

    width: 420px;
    height: 550px;

    overflow: hidden;

    justify-self: center;
    align-self: center;

    position: relative;

    animation: fadeIn 1.5s ease forwards, float 5s ease-in-out infinite;
}

.center-circle img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes glow {
    0% { transform: scale(1); opacity: 0.6; }
    50% { transform: scale(1.1); opacity: 0.3; }
    100% { transform: scale(1); opacity: 0.6; }
}


/* Top */
.work {
    grid-column: 2 / 4;
    grid-row: 1;
}

/* Upper Left */
.education {
    grid-column: 1;
    grid-row: 2;
}

/* Upper Right */
.achievements {
    grid-column: 4;
    grid-row: 2;
}

/* Lower Left */
.skills {
    grid-column: 1;
    grid-row: 3;
}

/* Lower Right */
.profile {
    grid-column: 4;
    grid-row: 3;
}

/* Bottom */
.contact {
    grid-column: 2 / 4;
    grid-row: 4;
}

.info-box {
    width: 240px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.08);

    opacity: 0;
    animation: slideFade 0.8s ease forwards;
}

@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Message bubble tail */
.info-box::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}


.info-box:hover {
    transform: translateY(-5px);
}
/* Left side bubbles */
.education::after,
.skills::after {
    right: -15px;
    top: 40%;
    border-left: 15px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* Right side bubbles */
.achievements::after,
.profile::after {
    left: -15px;
    top: 40%;
    border-right: 15px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* Top bubble */
.work::after {
    bottom: -15px;
    left: 45%;
    border-top: 15px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/* Bottom bubble */
.contact::after {
    top: -15px;
    left: 45%;
    border-bottom: 15px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.work { animation-delay: 0.3s; }
.education { animation-delay: 0.5s; }
.skills { animation-delay: 0.7s; }
.achievements { animation-delay: 0.9s; }
.profile { animation-delay: 1.1s; }
.contact { animation-delay: 1.3s; }
